<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="bookmark-form">
        <h3>Add a new bookmark</h3>
        <div class="mt-3">
          <%= simple_form_for @bookmark do |f| %>
            <%= f.input :comment %>
            <%= f.submit class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
