// Import page-specific CSS files here.
@import "home";

.crop {
  background-image: url("https://live.staticflickr.com/45/145769485_04567cce01_b.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    padding: 100px;

}
h1{
  text-align: center;
}
